<div class="container">
  <div class="row pt-3">
    <div class="col-4"></div>
    <div class="col-4 auto">

      <h2 class="text-center my-5">検索結果</h2>

      <table class="table table-hover table-inverse">
        <!--検索対象モデルがUserの時 -->
        <% if @range == "会員" %>
          <thead>
            <tr>
            <th class="text-center">プロフィール画像<br/>
                                    投稿主</th>
              <th colspan= "3"></th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td class="text-center align-middle">
                <%= link_to user_path(user.id) do %>
                <%= image_tag user.get_profile_image, style:"width: auto; height: 200px;" %>
                <% end %>
                <br/>
                <p style="font-size:large">
                <%= link_to user_path(user.id) do %>
                <%= user.name %>
                <% end %>
                </p>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% else %>
        <!--検索対象モデルが会員ではない時(= 検索対象モデルが投稿の時) -->
          <thead>
            <tr>
            <th class="text-center">プロフィール画像<br/>
                                    投稿主</th>
            <th class="text-center">投稿画像<br/>
                                    タイトル</th>
            </tr>
          </thead>
          <% @posts.each do |post| %>
          <tbody>
            <tr>
              <td class="text-center align-middle">
                <%= link_to user_path(post.user.id) do %>
                <%= image_tag post.user.get_profile_image, style:"width: auto; height: 100px;" %>
                <% end %>
                <br/>
                <%= link_to user_path(post.user) do %>
                <%= post.user.name %>
                <% end %>
              </td>
              <td class="text-center align-middle">
                <%= link_to post_path(post.id) do %>
                <%= image_tag post.get_image, style:"width: auto; height: 200px;" %>
                <% end %>
                <br/>
                <p style="font-size:large">
                <%= link_to post_path(post.id) do %>
                <%= post.title %>
                <% end %>
                </p>
              </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>