<table class="table table-borderless text-center">
  <tbody>
      <% post.post_comments.each do |post_comment| %>
      <tr>
        <td>
          <%= link_to user_path(post_comment.user) do %>
            <%= image_tag post_comment.user.get_profile_image, style:"width: auto; height: 80px;" %>
            <%= post_comment.user.name %>
          <% end %>
        </td>
        <td class="text-center align-middle">
          <%= post_comment.comment.gsub(/\n|\r|\r\n/, "<br>").html_safe %>
          </td>
        <td class="text-center align-middle">
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, remote: true, class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>