<div class="container">
  <div class="row pt-5">
    <div class="col-xl-9 ml-auto">

      <%= form_with model: @user, url: user_session_path do |f| %>
      <table>
        <h4>ログイン</h4>
        <p>会員の方はこちらからログイン</p>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, placeholder: "Eメール", autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, placeholder: "パスワード", autocomplete: "current_password"  %></td>
        </tr>
        <tr>
          <td></br></td>
        </tr>
        <tr class ="text-center">
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary ml-3" %></td>
        </tr>
        <% end %>
      </table>

      </br>
      </br>

      <table>
        <h5>会員登録がお済みでない方</h5>
        <p><%= link_to "こちら", new_user_registration_path ,class:"text-blue" %>から新規登録を行なってください。</p>
      </table>
      
    </div>
  </div>
</div>