<div class="container">
  <div class="row pt-3">
    <div class="col-xl-9 auto">

<h4 class="m-4">管理者ログイン</h4>
      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <table class= "table table table-borderless ">
        <tr>
          <div class="field">
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </div>
        </tr>

        <tr>
          <div class="actions">
            <td></td>
            <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
