<div class="container">
  <div class="row pt-5">
    <div class="col-xl-9 ml-auto">

      <table>
        <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>
        <h4>新規会員登録</h4>
        <tr>
          <td>ニックネーム</td>
          <td></td>
          <td><%= f.text_field :name, placeholder: "ニックネーム", value: "ユーザー", autofocus: true, autocomplete: "name" %></td>
        </tr>
        <tr>
          <td>自己紹介</td>
          <td></td>
          <td  colspan="3"><%= f.text_area:introduction, size: "50x5", value: "よろしくお願いします。", autocomplete: "introduction" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td></td>
          <td><%= f.email_field :email, placeholder: "Eメール", autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>パスワード(6文字以上)</td>
          <td></td>
          <td><%= f.password_field :password, placeholder: "パスワード", autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td></td>
          <td><%= f.password_field :password_confirmation, placeholder: "パスワード確認", autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></br></td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-success ml-3" %>
        </tr>
        <% end %>
      </table>
    
      </br>
      </br>
      
      <table>
        <h4>既に登録済みの方</h4>
        <p><%= link_to "こちら", new_user_session_path ,class:"text-blue" %>からログインしてください。</p>
      </table>
    
    </div>
  </div>
</div>
