<h2 class="text-center my-5">会員情報</h2>
  <table class="table">
    <tbody>
    <tr>
      <td colspan="2", class="text-center" >
      <%= image_tag @user.get_profile_image, style:"width: auto; height: 300px;" %>
      </td>
    </tr>
    <tr>
      <th class="text-center">ニックネーム：</th>
      <td class="text-left align-middle", style="font-size:large"><%= @user.name %></td>
    </tr>
    <tr>
      <th class="text-center">自己紹介：</th>
      <td class="text-left align-middle", style="font-size:large">
        <%= h(@user.introduction).gsub(/\n|\r|\r\n/, "<br>").html_safe %>
      </td>
    </tr>
    <tr>
      <th class="text-center">フォロー中：</th>
      <td class="text-left align-middle", style="font-size:large">
        <%= link_to user_followings_path(user.id) do %>
        <%= @user.followings.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="text-center">フォロワー：</th>
      <td class="text-left align-middle", style="font-size:large">
        <%= link_to user_followers_path(user.id) do %>
        <%= @user.followers.count %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>