<h2 class="text-center my-5">会員情報</h2>
  <table class="table">
    <tbody>
    <tr>
      <td colspan="2", class="text-center">
      <%= image_tag user.get_profile_image, size:'200x150' %>
      </td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>フォロー中</th>
      <td>
        <%= link_to user_followings_path(user.id) do %>
        <%= user.followings.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>フォロワー</th>
      <td>
        <%= link_to user_followers_path(user.id) do %>
        <%= user.followers.count %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>