<!-- ユーザーの詳細 -->
<%= render 'user/users/userinfo', user: @user  %>

<% unless @user.id == current_user.id %>
  <% if @isRoom == true %>
    <td><%= link_to "チャットへ", room_path(@roomId), class: "btn btn-primary" %></td>
  <% else %>
    <%= form_with model: @room, local: true do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class:"btn btn-primary"%>
    <% end %>
  <% end %>
<% end %>

<% if @user != current_user %>
<% if current_user.following?(@user) %>
    <td><%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-info" %></td>
  <% else %>
    <td><%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %></td>
<% end %>
<% end %>

  <td><%= link_to "いいね一覧", favorites_user_path(@user.id), class: 'btn btn-info'  %></td>
  
     <div class='row'>
  <% if current_user == @user %>
    <td class="fas fa-user-cog"><%= link_to "編集", edit_user_path(@user.id), class: "btn btn-outline-secondary" %>
    </td>
  <% end %>
</div>

  <!-- ユーザー本人の投稿 -->
  <%= render 'user/posts/myposts' %>