<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-md-3">
        <h2>投稿詳細</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
             <td>
               <%= image_tag @post.user.get_profile_image, size:"80x80" %></br>
               <%= link_to user_path(@user.id) do %><%= @user.name %><% end %>
             </td>
            </tr>
            <tr>
             <td><%= @post.title %></td>
            </tr>
            <tr>
              <td>
                <%= image_tag @post.get_image, size:'80x80' %>
              </td>
            </tr>
            <tr>
             <td><%= @post.body %></td>
            </tr>
            <tr></tr>
             <% if @post.user == current_user %>
             <td><%= link_to "Edit", edit_post_path(@post), class:"btn btn-sm btn-success" %></td>
             <td><%= link_to "Destroy", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %></td>
             <% end %>
            </tr>
             <!-- ファボ機能 -->
　　         <td id=favorite_buttons_<%= @post.id %>>
               <%= render 'user/favorites/favorite-btn', post: @post %>
        　    </td>
        　　   <td>コメント数: <%= @post.post_comments.count %></td>
          </tbody>
          </table>
        <!-- コメ一覧 -->
        <div id= comments-area_<%= @post.id %>>
          <%= render 'user/post_comments/index', post: @post %>
        </div>
        <!-- コメ機能 -->
        <div id= form-area_<%= @post.id %>>
          <%= render 'user/post_comments/comment', post: @post, post_comment: @post_comment  %>
        </div>
         <!---->
     </div>
     </div>
  </div>
</main>