<div class="container">
  <div class="row pt-3">
    <div class="col-3"></div>
    <div class="col-6 auto">

      <h2 class="text-center my-5">会員情報（管理者）</h2>
      <!-- ユーザーの詳細 -->
      <table class="table">
        <tbody>
        <tr>
          <td colspan="2", class="text-center">
            <%= image_tag @user.get_profile_image, style:"width: auto; height: 300px;" %>
          </td>
        </tr>
        <tr>
          <th class="text-center">ニックネーム</th>
          <td class="text-left align-middle">
            <%= @user.name %>
          </td>
        </tr>
        <tr>
          <th class="text-center">自己紹介文</th>
          <td class="text-left align-middle">
            <%= @user.introduction %>
          </td>
        </tr>
        <tr>
          <th class="text-center">フォロー中</th>
          <td class="text-left align-middle">
            <%= @user.followings.count %>
          </td>
        </tr>
        <tr>
          <th class="text-center">フォロワー</th>
          <td class="text-left align-middle">
            <%= @user.followers.count %>
          </td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <% if @user.is_deleted == false %>
          <td class="text-left align-middle">
            有効
          <% else %>
            退会
          </td>
          <% end %>
        </tr>
      　<tr>
      　　  <td colspan="2", class="text-center">
      　　  　<%= link_to "編集", edit_admin_user_path(@user.id), class: "btn btn-secondary" %>
      　　  </td>
      　</tr>
      　</tbody>
      </table>

    </div>
  </div>
</div>

    <!-- ユーザー本人の投稿 -->
    <%= render 'admin/posts/myposts' %>